.introducao {
  max-width: 1200px;
  padding: 0px;
  margin: 0 auto;
  display: block;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  align-items: center;
}
.perfil {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  padding: 0px 20px;
}
.perfil .localizado{
  display: none;
}

.introducao h1 {
  font-size: 4.5rem;
  line-height: 1.25;
  margin-bottom: 30px;
  position: relative;
}

.introducao h1::before {
  content: "";
  display: block;
  width: 130px;
  height: 100px;
  background: url("../img/detalhe.svg") no-repeat center;
  position: absolute;
  top: -15px;
  left: -40px;
  z-index: -1;
}

.introducao p {
  font-size: 1.5rem;
  color: #525252;
}

@media (max-width: 800px) {
  .introducao {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .introducao h1 {
    font-size: 2rem;
  }
  .introducao h1::before {
    width: 30px;
    height: 10px;
    left: 0px;
  }
  .introducao img {
    display: none;
  }

}

@media (max-width: 480px) {
  .introducao {
    grid-template-columns: 1fr;
    padding: 0px;
  }
  .introducao img {
    display: none;
  }
  .introducao h1{
    margin-left: 10px;
  }
  .introducao p {
    margin-left: 10px;
    font-size: 1.3rem;
  }
  .perfil .localizado {
    grid-column: 1;
    margin-top: 0px;
  }
}
